* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

:root {
    --primary: whitesmoke;
    --secondary: rgb(23, 237, 237);
    --tertiary: rgb(224, 251, 21);
    --fourth: rgb(30, 29, 29);
}

body {
    background: url("../pictures/newskyline.png") no-repeat center center fixed;
    background-size: cover;
}

.title h1 {
    margin: 0 auto 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--tertiary);
    font-size: 72px;
    text-align: center;
}

.column-left {
    float: left;
    width: 25%;
}

.column-middle {
    display: inline-block;
    width: 50%;
}

.column-right {
    float: right;
    width: 25%;
}

.search h2 {
    display: table;
    margin: 100 0 0 0;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--tertiary);
    font-size: 32px;
}

input {
    width: 225px;
    height: 30px
}

input::placeholder {
    color: var(--fourth);
}

button {
    color: var(--fourth);
    transition-duration: 0.4s;
    display: block;
    cursor: pointer;
    height: 30px;
    width: 112.5px;

}

button:hover {
    background-color: var(--fourth);
    color: var(--primary);
}

button:active {
    background-color: var(--secondary);
    color: var(--fourth);
}

.history h3 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary);
    font-size: 32px;
    text-align: center;
}

.current-city h3 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--tertiary);
    font-size: 48px;
    text-align: center;
}

.forecast h3 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--tertiary);
    font-size: 48px;
    text-align: center;
}