* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

:root {
    --primary: whitesmoke;
    --secondary: rgb(23, 237, 237);
    --tertiary: rgb(224, 251, 21);
    --fourth: rgb(30, 29, 29);
}

body {
    background: url("../pictures/newskyline.png") no-repeat center center fixed;
    background-size: cover;
}

.title h1 {
    color: var(--tertiary);
    font-size: 72px;
    text-align: center;
}

.search h2 {
    color: var(--tertiary);
    font-size: 32px;
}

input::placeholder {
    color: var(--fourth);
}

button {
    color: var(--fourth);
    transition-duration: 0.4s;
    display: block;
    cursor: pointer;

}

button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

button:active {
    background-color: var(--fourth);
    color: var(--primary);
}

.history h3 {
    color: var(--primary);
    font-size: 32px;
}

.current-city h3 {
    color: var(--tertiary);
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 40px;
}

.forecast h3 {
    color: var(--tertiary);
    font-size: 48px;
}